*{
  margin: 0;
  padding: 0;
  user-select: none;
}
html,body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.content {
  /* background-color: #ccc; */
  background: url('../img/bg.jpg') repeat-y 100% 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.wrap{
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: rgb(34 50 34 / 75%);
  color: #fff;

  backdrop-filter: blur(15px);
  box-shadow: 1px 1px 10px #333;
}

.wrap hr {
  border-top-color: rgba(255,255,255,.5);
}

.btn-play {
  /* position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); */
  margin: auto;
  /* background-color: rgba(113, 183, 43); */
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #333;
  font-size: 18px;
}



/* 敌机 */
.enemy {
  position: absolute;
  top: 0;
  background: url('../img/enemy.png') no-repeat center / 100% 100%;
}
.small {
  width: 48px;
  height: 48px;
  /* background: url('../img/enemy.png') no-repeat 100% 100%; */
  z-index: 10;
}

.big {
  width: 96px;
  height: 96px;
  /* background: #333; */
  z-index: 9;
}

.boss {
  width: 152px;
  height: 152px;
  z-index: 8;
  /* background-color: #fff; */
}

.myPlane {
  width: 5rem;
  height: 4rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../img/hero.png') no-repeat center / 100% 100%;
}

.bullet {
  width: 15px;
  height: 30px;
  background: url('../img/bullet.png') no-repeat center / 100% 100%;
  position: absolute;
  transform: translateX(-50%);
}

.boom {
  /* background-image: url('../img/explosion19.png') !important;
  background-size: auto auto !important; */
  animation: boom 1s 1;
}

@keyframes boom {
  0% {
    background-image: url('../img/explosion5.png');
  }
  25% {
    background-image: url('../img/explosion10.png');
  }
  50% {
    background-image: url('../img/explosion15.png');
  }
  75% {
    background-image: url('../img/explosion19.png');
  }
  100% {
    background-image: url('../img/explosion5.png');
  }
}

.plane-boom {
  animation: planeBoom .75s 1s infinite;
}

@keyframes planeBoom {
  50% {
    background-image: url('../img/explosion5.png');
  }
  65% {
    background-image: url('../img/explosion10.png');
  }
  75% {
    background-image: url('../img/explosion15.png');
  }
  85% {
    background-image: url('../img/explosion19.png');
  }
  95% {
    background-image: url('../img/explosion5.png');
  }
}

.planeIcon {
  height: 100px;
  line-height: 100px;
}

.planeIcon img {
  width: 100px;
  animation: turn 5s linear infinite;
}

@keyframes turn {
  100% {
    transform: rotateZ(360deg);
  }
}

#gameOver {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, .75);
  display: none;
}

#battlefield {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.flexBox {
  display: flex;
  align-items: center;
}

.flexBox a {
  flex: .3;
}

#scoreDom {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  color: #fff;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.formGropu {
  /* display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto 1rem; */
}
.form-group {
  padding: 0 .5rem;
}

.select {
  flex: 1;
  margin-left: 10px;
  background: linear-gradient(90deg, transparent, rgb(158 148 148 / 50%), transparent);
  border: none;
  color: #fff;
  border-radius: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* border-image: linear-gradient(90deg, transparent, #000, transparent); */
  border-color: transparent;
  text-align: center !important;
  text-align-last: center;
  display: block;
  outline: none;
}

.form-control:focus {
  color: #fff;
  border-color: #eee;
  /* color: #fff; */
  background: linear-gradient(90deg, transparent, rgb(158 148 148 / 50%), transparent);
  outline: 0;
  box-shadow: none;
}